/*asterisk is the universal selector, styles added here will affect all the elements*/
* {
	/*roboto pag may intenet kasi galing sa google fonts, sans pag local browse lang huhu*/
	font-family: "Roboto", sans-serif;
}

h1, h2{
	font-family: "Montserrat", sans-serif;
}
h1 {
	color: black;
}
p {
	color: black;
}
/*images*/
img {
	/*allow you to resize the picture*/
	height: 250px;
	width: 250px;
}
body {
	background-color: whitesmoke;
}

/*vh = viewport height*/
#landing {
	height: 80vh;
	display: flex;
	/*alignments*/
	flex-direction: column;
	align-items: center;
	/*position of content*/
	justify-content: center;
}

#gallery {
	height: 80vh;
	/*bbackground color*/
	/*background-color: lightgrey;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
}

ul {
	list-style: none;
	padding: 0;
}

h2	{
	/*text color*/
	color: #007bff;
}
/* . to target class */
.tools {
	height: 200px;
	/*boarder 5px thickness with color white*/
	border: 5px solid #f2f2f2;
	padding: 25px;
	margin: 20px;
	/*percent use for size of the width di lalagpas sa parennt (section) yung width*/
	width: 75%;
}

html {
	scroll-behavior: smooth;
}